<div class="wrapper">
    <div id="pre-loader"  *ngIf="img">
      <img src="../../assets//loader-01.svg" alt="">
  
  </div>
      <div class="container-fluid">
          <div class="row">
            <div class="content-wrapper">
              <div class="page-title">
                <div class="row">
                  <div class="col-sm-6">
                      <!-- <h2 class="mb-0" style="font-size: 1.571rem;
                      font-weight: 800;"> {{'AllWorkers.Workers' | translate}}</h2> -->
                      
                  </div>
                  <div class="col-sm-6">
                    <ol class="breadcrumb pt-0 pr-0 float-left float-sm-right">
                      <li class="breadcrumb-item"><a routerLink="/home" class="default-color">{{'AllWorkers.Home' | translate}}</a></li>
                      <li class="breadcrumb-item active"><a routerLink="/chat" class="default-color">{{'AllWorkers.Chat' | translate}}</a></li>
                    </ol>
                  </div>
                </div>
              </div>
              <div class="row">  
                
                <div class="col-xl-12 mb-30">     
                    <div class="card card-statistics h-100"> 
                      <div class="card-body">
                       <h5 class="card-title">About Data</h5>
                         <div class="repeater-file">
                            <div data-repeater-list="group-a">
                               <form [formGroup]="aboutForm">
                                  <div class="form-row">
                                    <div class="form-group col-md-12">
                                      <label for="inputEmail4">Title</label>
                                      <input formControlName="title" type="email" class="form-control" id="inputEmail4" placeholder="Title">
                                    </div>
                                    <div class="form-group col-md-12">
                                      <label for="inputPassword4">Description</label>
                                      <input formControlName="description" type="text" class="form-control" id="inputPassword4" placeholder="Description">
                                    </div>
                                  </div>
                              </form>
                           </div>  
                         <div class="clearfix">
                              <input (click)="submit()" [disabled]="aboutForm.invalid" class="button" data-repeater-create="" type="button" value="Add ">
                          </div> 
                      </div>
                     </div>
                  </div>
                </div>
              
                  </div>
              </div>
          </div>
         </div>
      </div>