<div class="wrapper">


    

    
    <section class="lockscreen height-100vh page-section-ptb parallax" style="background: url(images/login-bg.jpg);">
      <div class="container h-100">
         <div class="row justify-content-center h-100">
            <div class="col-lg-5 col-md-8 col-sm-8 align-self-center">
              <div class="card text-center pb-40 bg-white pl-5 pr-5 clearfix">
                <div class="user-info">
               
                  <span class="mt-1"><i class="fa fa-lock"></i> Locked</span>
                </div>
                <div class="alert alert-danger alert-dismissible fade show" *ngIf="showError" role="alert">
                  <strong>email not found, try again</strong> 
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="form-group mb-20"  [formGroup]="formCode">
                  <div class="form-group mb-20"  >

                  <input   formControlName="email" class="Password form-control" type="email" placeholder="Enter Your Email" >
                  </div>
                  <div class="form-group mb-20"  >
                    <input formControlName="code" class="Password form-control" type="number" placeholder="Enter Code" >
              
                  </div>
                </div>
               
                  <a (click)="sendCode()" class="button">
                    <span>Reset</span>
                    <i class="fa fa-check"></i>
                 </a>              
                   <!-- <p class="mt-20 mb-0">Not Michael Bean? <a href="login.html">Click here</a></p> -->
              </div>
            </div>
          </div>
      </div>
    </section>

      
    </div>