<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img style="    width: 150px;
                    border-radius: 52%;
                " [src]="workers.photo" alt=""/>
                    
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                            <h5>
                                {{workers.name}}
                            </h5>
                            <h6>
                              
                            </h6>
                            <p  class="proile-rating">RANKINGS : <span>{{workers.rate}}</span></p>
                            
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                     
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <a type="submit" (click)="update(workers)" class="button button-border small" name="btnAddMore" value="Edit Profile">
                    {{'detailsWorkers.Edit Profile' | translate}}
                   </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>{{'detailsWorkers.User Id' | translate}}</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{workers.id}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>{{'detailsWorkers.Name' | translate}}</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{workers.name}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>{{'detailsWorkers.Email' | translate}}</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{workers.email}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>{{'detailsWorkers.Phone' |translate}}</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{workers.phone}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>{{'detailsWorkers.Address' | translate}}</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{workers.address}}</p>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>{{'detailsWorkers.National-Id'| translate}}</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{workers.NIN}}</p>
                                    </div>
                                    
                                </div>
                    </div>
                
                </div>
            </div>
        </div>
    </form>           
</div>




<div class="container d-flex justify-content-center mt-100 mb-100" style="    margin-left: 353px;">
    <div class="row">
        <div class="col-md-12">
  
          <div class="card" style="    width: 158%;
          margin-right: 313px;
          margin-left: -202px;
      ">
                              <div class="card-body" >
                                  <h4 class="card-title">Recent Comments</h4>
                                  <h6 class="card-subtitle">Latest Comments section by users</h6> </div>
  
                              <div class="comment-widgets m-b-20">
  
                                  <div class="d-flex flex-row comment-row" *ngFor="let item of reviwe">
                                      <div class="p-2"><span class="round" *ngFor="let rr of item.user"><img [src]="rr.photo" alt="" width="50"></span></div>
                                      <div class="comment-text w-100">
                                          <h5 *ngFor="let rr of item.user">{{rr.name}}</h5>
                                          <div class="comment-footer">
                                        
                                          </div>
                                          <p class="m-b-5 m-t-10">{{item.comments}}</p>
                                          <div id="readOnly" title="regular">
                                   
                                            <ngx-star-rating  [(ngModel)]="item.rating" [id]="'rating'" ></ngx-star-rating>
                                        </div>
                                      
                                        </div>
                                  </div>
  
                              </div>
                          </div>
  
        </div>
    </div>
  </div>
  
  
  
